* {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
}

.header {
    display: flex;
    background-color: #1F2937;
    padding: 12px 150px;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
    margin: 0;
}

.header-link {
    color: #F9FAF8;
    font-size: 14px;
    text-decoration: none;
}







.title-image {
    width: 200px;
    height: auto;
}

.info-placeholder-image {
    width: 150px;
    height: auto;
}